
.image {
    display: inline-block;
    vertical-align: middle;
}

.caption {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: calc(100% - 120px);
    
    p {
        margin: 0;
        width: 100%;
    }
    
}
