
.FloatingLayer > div {
    top: 0;
}

.white::cue {
    color: #FFFFFF;
}

.gray::cue {
    color: #AFA5A3;
}

.yellow::cue {
    color: #EEDA10;
}

.green::cue {
    color: #46EE10;
}

.blue::cue {
    color: #1046EE;
}

.red::cue {
    color: #EE1027;
}

.vsmall::cue {
    font-size: 1.5rem;
}
.small::cue {
    font-size: 1.75rem;
}
.normal::cue {
    font-size: 2rem;
}
.big::cue {
    font-size: 2.25rem;
}
.vbig::cue {
    font-size: 2.5rem;
}

.video::cue {
    background-color: transparent;
}
 